site_name: Intelligent App Workshop for Microsoft Copilot Stack
site_description: Complimentary workshop to Project Miyagi to demonstrate the potential of integrating SoTA foundation models in user experiences and backend workflows. Orchestrated by Semantic Kernel and built on Azure primitives.
site_author: Govind Kamtamneni, Principal AI Engineer, Azure Global Black Belt, Microsoft
nav:
  - Home: index.md
  - Intro: wksp/00-intro/index.md
  - Agenda & Outcomes: wksp/00-intro/agenda-and-outcomes.md
  - Miyagi Architecture Overview: wksp/00-intro/architecture-overview.md
  - Sample Walkthroughs for inspiration: wksp/00-intro/samples-walk-through.md
  - Semantic Kernel overview: wksp/00-intro/semantic-kernel-overview.md
  - Pre-requisites: wksp/00-intro/pre-reqs.md
  - Module 1 - Discovery and Ideation:
      - wksp/01-design-thinking/index.md
      - Design Thinking Canvas: wksp/01-design-thinking/design-thinking-canvas.md
      - Optional discovery sessions:
          - JTBD Worksheet: wksp/01-design-thinking/jobs-to-be-done.md
          - HEART Framework: wksp/01-design-thinking/heart-framework.md
  - Module 2 - Fork and Get Hands-on: wksp/02-fork-and-get-hands-on/index.md
  - Module 3 - Inner-loop: wksp/03-inner-loop/index.md
  - Module 4 - Basics of Semantic Kernel: wksp/04-Semantic-Kernel-Basics/index.md
  - Module 5 - Hands-on AI Orchestration using Semantic Kernel Workshop: 
      - wksp/05-semantic-kernel-workshop/simple-ai-orchestration/index.md
      - Pre-requisites: wksp/05-semantic-kernel-workshop/simple-ai-orchestration/pre-reqs.md
      - Lesson 1 - Semantic Kernel chatbot: wksp/05-semantic-kernel-workshop/simple-ai-orchestration/lesson1.md
      - Lesson 2 - Semantic Kernel chatbot with history: wksp/05-semantic-kernel-workshop/simple-ai-orchestration/lesson2.md
      - Lesson 3 - Semantic Kernel chatbot with plugins: wksp/05-semantic-kernel-workshop/simple-ai-orchestration/lesson3.md
      - Lesson 4 - Semantic Kernel chatbot with Web Search engine plugin: wksp/05-semantic-kernel-workshop/simple-ai-orchestration/lesson4.md
      - Lesson 5 - Describe all plugins in Semantic Kernel chatbot: wksp/05-semantic-kernel-workshop/simple-ai-orchestration/lesson5.md
      - Lesson 6 - Create Semantic Kernel chat completion agent: wksp/05-semantic-kernel-workshop/simple-ai-orchestration/lesson6.md
      - Build a deployable web application:
        - wksp/05-semantic-kernel-workshop/simple-ai-orchestration/create-deployable-app/index.md
        - Create Backend API: wksp/05-semantic-kernel-workshop/simple-ai-orchestration/create-deployable-app/backend-api.md
        - Create Web application: wksp/05-semantic-kernel-workshop/simple-ai-orchestration/create-deployable-app/web-app.md
        - Deploy Azure resources: wksp/05-semantic-kernel-workshop/simple-ai-orchestration/create-deployable-app/azd-infra.md
  - Module 6 - Use cases deep-dive with Miyagi and Reddog:
      - wksp/06-use-cases/index.md
      - Synthesis: wksp/06-use-cases/synthesis.md
      - Generation:
          - Overview: wksp/06-use-cases/generation.md
          - Text: wksp/06-use-cases/generation.md
          - Images: wksp/06-use-cases/generation.md
          - Code: wksp/06-use-cases/generation.md
          - Video: wksp/06-use-cases/generation.md
      - Conversation: wksp/06-use-cases/synthesis.md
      - Summarization: wksp/06-use-cases/synthesis.md
      - Classification: wksp/06-use-cases/synthesis.md
      - Translation: wksp/06-use-cases/synthesis.md
      - Speech-to-text: wksp/06-use-cases/synthesis.md
      - Semantic Search: wksp/06-use-cases/synthesis.md
      - Anomaly Detection: wksp/06-use-cases/synthesis.md
      - Agency and Planning: wksp/06-use-cases/synthesis.md
      - QA on Domain Knowledge: wksp/06-use-cases/synthesis.md
      - Plugins: wksp/06-use-cases/synthesis.md
  - Module 7 - Building Custom Copilots:
      - Build Custom Copilots using Azure AI Foundry: wksp/07-custom-copilot/index.md
      - Extend Custom Copilot with AI Document Intelligence, AI Vision, and multi-modal Foundation model: wksp/07-custom-copilot/extend-copilot-ai-doc-intel.md  


  - Post-workshop:
      - Feedback: wksp/other/feedback.md
  - Appendix:
      - Samples: wksp/appendix/samples.md
      - Design Patterns: wksp/appendix/design-patterns.md
      - Security: wksp/appendix/security.md

theme:
  name: material
  custom_dir: docs/assets/overrides
  font:
    text: Inter
  palette:
    - scheme: slate
      primary: deep purple
      accent: teal
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
    - scheme: default
      primary: deep purple
      accent: teal
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
  features:
    - header.autohide
    - navigation.instant
    - navigation.indexes
    - navigation.top
    - toc.follow
    - navigation.footer
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
  icon:
    repo: fontawesome/brands/github
  logo: assets/images/favicon.png
  favicon: assets/images/favicon.ico

markdown_extensions:
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - admonition
  - pymdownx.keys
  - pymdownx.inlinehilite
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.snippets:
      base_path: "."
      check_paths: true
      url_download: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - meta
  - toc:
      permalink: true
      toc_depth: 4
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

copyright: Copyright &copy; 2023 Azure App Innovation GBB, Microsoft

plugins:
  - git-revision-date
  - search
  - macros
  - table-reader
  - glightbox
  - open-in-new-tab
  - mkdocs-video
  - table-reader

extra:
  analytics:
    provider: google
    property: G-W6SKQMVB9X
  generator: false
  feedback:
    title: Was this page helpful?
    ratings:
      - icon: material/emoticon-happy-outline
        name: This page was helpful
        data: 1
        note: >-
          Thanks for your feedback! - App Innovation GBB
      - icon: material/emoticon-sad-outline
        name: This page could be improved
        data: 0
        note: >-
          Thanks for your feedback! Help App Innovation GBB team improve this page by
          using our <a href="..." target="_blank" rel="noopener">feedback form</a>.
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Azure/intelligent-app-workshop

extra_css:
  - assets/stylesheets/extra.css

repo_url: https://github.com/Azure/intelligent-app-workshop
edit_uri: edit/main/docs
