mkdocs-material
mkdocs-render-swagger-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-plugin
mkdocs-macros-plugin
mkdocs-with-pdf
mkdocs-glightbox
mkdocs-open-in-new-tab
mkdocs-video
mkdocs-table-reader-plugin