{
  "StockService": {
    "apiKey": "<StockServiceApiKey>"
  },
  "AIFoundryProject": {
    "connectionString": "<AIFoundryConnectionString>",
    "groundingWithBingConnectionId": "<GroundingWithBingConnectionId>",
    "endpoint": "<AIFoundryEndpoint>",
    "apiKey": "<AIFoundryApiKey>",
    "deploymentName": "<modelDeploymentName>"
  }
}
