{
  "ManagedIdentity": {
    "clientId": ""
  },
  "StockService": {
    "apiKey": "<StockServiceApiKey>"
  },
  "AIFoundryProject": {
    "connectionString": "<OpenAIConnectionString>",
    "groundingWithBingConnectionId": "<GroundingWithBingConnectionId>",
    "endpoint": "<OpenAIEndpoint>",
    "apiKey": "<OpenAIApiKey>",
    "deploymentName": "<OpenAIDeploymentName>"
  }
}
